.container {
    width:100%;
    height:80vh;
    background-color: rgb(255, 246, 246);
    // border:2px solid rgb(236, 236, 231);
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    
}



.avatar {
    width:70px;
    height:auto;
    margin-right: 30px;
}